{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Gestion des élèves
{% endblock %}

{% block content %}

    <h3>Formulaire de saisie d'élève</h3>
    <br>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
